BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ReferenceAlignment: Right
PointerAlignment: Right
ColumnLimit: 0
UseTab: Never
AllowShortIfStatementsOnASingleLine: true
AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
